<div class="row">
  <div class="col-sm-12">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Módulo do Professor</mat-card-title>
        <mat-card-subtitle>Cadastro e Listagem dos Professores da Instituição</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/professores.png">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/list-professores']" routerLinkActive="router-link-active">
          <i class="material-icons">list</i>
          Listar
        </button>
        <button mat-button [routerLink]="['/add-professor']" routerLinkActive="router-link-active">
          <i class="material-icons">add</i>
          Cadastrar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>