.body {
  background-color: #e1e2e1;
}
.example-card {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #9c27b0;
  color: #ffffff;
  mat-card-subtitle {
    color: #ffffff;
  }
}
