<router-outlet></router-outlet>
<h2>{{disciplina.nome}}</h2>
<section>
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <h1>1º Bimestre</h1>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>NOTAS</button>
          <button mat-button>DIARIOS</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-divider></mat-divider>
    <div class="col">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1>2º Bimestre</h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>NOTAS</button>
          <button mat-button>DIARIOS</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="col">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1>3º Bimestre</h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>NOTAS</button>
          <button mat-button>DIARIOS</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-divider></mat-divider>

    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1>4º Bimestre</h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>NOTAS</button>
          <button mat-button>DIARIOS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</section>