<mat-card class="section">
    <h4></h4>
    <table class="info">
        <tr>
            <td>Turma</td>
            <td colspan="5">{{turma?.nome}}</td>
        </tr>
        <tr>
            <td>Disciplina</td>
            <td colspan="5"> {{disciplina?.idDisciplina}} </td>
        </tr>
        <tr>
            <td>Professor(a)</td>
            <td colspan="5"> {{professor?.nome}} </td>
        </tr>
    </table>
</mat-card>

<mat-tab-group>
    <mat-tab label="Frequência">
        <form [formGroup]="registerFormFrequencia" class="form">
            <div class="datepicker">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Data" formControlName="dataFrequencia"
                        formControlName="dataFrequencia">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">NOME</th>
                        <th scope="col">QUANTIDADE</th>
                        <th scope="col">AÇÃO</th>
                    </tr>
                </thead>
                <tbody *ngFor="let alunoMatriculado of alunosMatriculados; let i = index; trackBy: customTrackBy">
                    <tr class="table-active">
                        <td>{{alunoMatriculado.nome}}</td>
                        <td>
                            <input type=" number" class="form-control input-notas" placeholder="Ex: 2"
                                formControlName="quantidade" id="falta">
                        </td>
                        <td>
                            <button mat-raised-button color="accent"
                                (click)="cadastrarFrequencia(alunoMatriculado.id, disciplina.nome)">Confirmar</button>
                        </td>
                    </tr>
            </table>
        </form>
    </mat-tab>
    <mat-tab label="1º Bimestre">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NOME</th>
                    <th scope="col">N1</th>
                    <th scope="col">N2</th>
                    <th scope="col">N3</th>
                    <th scope="col">Média</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active" *ngFor="let aluno of alunosMatriculados">
                    <td>{{aluno.nome}}</td>
                    <td>
                        <input type="number" class="form-control input-notas" placeholder="N1" id="n1">
                    </td>
                    <td>
                        <input type="number" class="form-control input-notas" placeholder="N2" id="n2">
                    </td>
                    <td>
                        <input type="number" class="form-control input-notas" placeholder="N3" id="n3">
                    </td>
                    <td>
                        <input type="number" class="form-control input-notas" placeholder="Média" id="media">
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
    <mat-tab label="2º Bimestre"> Content 2 </mat-tab>
    <mat-tab label="3º Bimestre"> Content 3 </mat-tab>
    <mat-tab label="4º Bimestre"> Content 3 </mat-tab>
    <mat-tab label="Resultado Final"> Content 3 </mat-tab>
</mat-tab-group>