<form [formGroup]="registerForm" class="form">
  <h5>Cadastro de Turma</h5>
  <mat-form-field appearance="outline" class="form-element">
    <mat-hint>Nomes Sugeridos: 5ANOA, 9ANOB, 1ANOC</mat-hint>
    <mat-label>Nome da Turma</mat-label>
    <input matInput formControlName="nome" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
    <mat-hint *ngIf="submitted && f.nome.errors">{{aviso}}</mat-hint>
  </mat-form-field>
  <br>
  <mat-radio-group class="example-radio-group" formControlName="periodo"> <br>
    <mat-label>Periodo:</mat-label>
    <br>
    <br>
    <mat-radio-button class="example-radio-button" name="periodo" value="Matutino">Matutino</mat-radio-button>
    <mat-radio-button class="example-radio-button" name="periodo" value="Vespertino">Vespertino</mat-radio-button>
    <mat-radio-button class="example-radio-button" name="periodo" value="Noturno">Noturno</mat-radio-button>
    <mat-radio-button class="example-radio-button" name="periodo" value="Diurno">Diurno</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field class="form-element">
    <mat-label>Nível</mat-label>
    <mat-select formControlName="nivel" name="nivel">
      <mat-option value=""> Selecione o Nível </mat-option>
      <mat-option [value]="nivel" *ngFor="let nivel of niveis"> {{nivel}} </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group class="example-radio-group" formControlName="modalidade"
    *ngIf="f.nivel.value === 'Ensino Fundamental'">
    <br>
    <mat-label>Modalidade:</mat-label>
    <br>
    <br>
    <mat-radio-button class="example-radio-button" name="modalidade" value="Anos Iníciais">Anos Iníciais (1º ao 5º
      Ano) </mat-radio-button>
    <br>
    <mat-radio-button class="example-radio-button" name="modalidade" value="Anos Finais">Anos Finais (6º ao 9º Ano)
    </mat-radio-button>
  </mat-radio-group>
  <br>
  <button mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="onSubmit()">Cadastrar
    Turma</button>
  <button mat-raised-button color="warn" [disabled]="!registerForm.valid" (click)="onNoClick()">Cancelar</button>
</form>