<div class="container">
  <mat-card class="section">
    <h4>Dados Gerais</h4>
    <table class="info">
      <tr>
        <td>Turma</td>
        <td colspan="5">{{turma?.nome}}</td>
      </tr>
      <tr>
        <td>Período</td>
        <td colspan="5"> {{turma?.periodo}} </td>
      </tr>
      <tr>
        <td>Nível</td>
        <td colspan="5"> {{turma?.nivel}}</td>
      </tr>
      <tr>
        <td>Modalidade</td>
        <td colspan="5"> {{turma?.modalidade}} </td>
      </tr>
    </table>
    <div class="actions">
      <button mat-raised-button color="primary" class="action" (click)="openDialogAddDisciplina()">Cadastrar Disciplina</button>
      <button mat-raised-button color="accent" class="action" (click)="openDialogEditTurma()"><i class="material-icons">edit</i>Editar
        Turma</button>
    </div>
    <router-outlet></router-outlet>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Disciplinas Ofertadas</mat-card-title>
    </mat-card-header>
    <div class="row">
      <div class="col" *ngFor="let disciplina of disciplinas">
        <mat-card class="example-card-disciplina">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{disciplina.nome}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button routerLink="disciplina/{{disciplina.id}}">
              <i class="material-icons">info</i>
              Detalhes
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </mat-card>
</div>